.footer__pod {
  background: #171819;
  text-align: center;
  padding: 20px 0;

  .footer__pod-dota {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #ffffff;
  }
}
