.wrapper {
  background-image: url("../../img/bg.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  &__img {
    margin-top: 40px;
  }

  &__title {
    margin-top: 317px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    color: #ffffff;
  }

  &__test {
    margin-bottom: 20px;
    font-family: OpenSans;
    line-height: 19px;
    color: #ffffff;
  }

  &__tecst {
    margin-top: 120px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: #ffffff;
  }
}
